.wrapper{
    display: flex;
    flex-direction: column;
}
.imagePreviewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
}

.imagePreview {
    max-width: 100px;
    max-height: 100px;
    display: block;
    position: relative;
}

.button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    cursor: pointer;
}
